nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
}
nav a img {
    padding-left: 10px;
    padding-right: 20px;
    transform: scale(0.7);
}
#slides {
    margin-top: -30px;
    transform: scale(0.7);
}
#slides .content{
    background-color: aliceblue;
}
.about {
    font-family: 'Fauna One', serif;
    font-size: larger;
}
.about h1 {
    font-family: Cinzel, serif;
    font-size: 46px;
    text-align: center;
}
